@import "styles/theme.scss";

.container {
  display: inline-block;
}

.content {
  align-items: center;
  background-color: $primaryBackgroundColorDark;
  display: flex;
  justify-content: center;
  height: 100px;
}

.title {
  color: $primaryTextColor;
  text-transform: capitalize;
}

.imageContainer {
  line-height: 0;
}
